// app-landing-background {
//     // background: url(#{$imgpath}/zippycrowd.png);
//     background-repeat: no-repeat;
//     background-size: 100% 100%;
//     // background-size: cover;
//     background-position: center center;
//     height: 100vh;
// }

// .background-content {
//     height: 100%;
//     img {
//         height: 100%;
//         width: 100%;
//     }
// }

.background-content {
    height: 100%;
    img {
        width: 100%;
        height: 100%;
    }
}