$imgpath: '/assets/images/';
$primary-color: #604C8C;
$accent-color: #3A2D56;
$small-breakpoint-width: 720px;

/* For desktop, the content should be aligned with the page title. */
$content-padding-side: 70px;
$content-padding-side-xs: 15px;
